In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# define the dataset location
filename = 'adult-all.csv'
# load the csv file as a data frame
dataframe = pd.read_csv(filename, header=None, na_values='?')
dataframe.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'label']

dataframe = dataframe.dropna() # drop rows with missing


dataframe['workclass'] = dataframe['workclass'].astype('category').cat.codes
dataframe['education'] = dataframe['education'].astype('category').cat.codes
dataframe['marital-status'] = dataframe['marital-status'].astype('category').cat.codes
dataframe['occupation'] = dataframe['occupation'].astype('category').cat.codes
dataframe['relationship'] = dataframe['relationship'].astype('category').cat.codes
dataframe['race'] = dataframe['race'].astype('category').cat.codes
dataframe['sex'] = dataframe['sex'].astype('category').cat.codes
dataframe['native-country'] = dataframe['native-country'].astype('category').cat.codes
dataframe['label'] = dataframe['label'].astype('category').cat.codes
#dataframe['label'] = dataframe['label'].astype('object')
colstoremove=[ 'education-num']
dataframe.drop(colstoremove, inplace=True, axis=1)
dataframe

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,5,77516,9,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,2,9,5,2,0,0,0,40,4,0
5,37,2,284582,12,2,3,5,4,0,0,0,40,38,0
6,49,2,160187,6,3,7,1,2,0,0,0,16,22,0
7,52,4,209642,11,2,3,0,4,1,0,0,45,38,1
8,31,2,45781,12,4,9,1,4,0,14084,0,50,38,1
9,42,2,159449,9,2,3,0,4,1,5178,0,40,38,1
10,37,2,280464,15,2,3,0,2,1,0,0,80,38,1
11,30,5,141297,9,2,9,0,1,1,0,0,40,18,1
12,23,2,122272,9,4,0,3,4,0,0,0,30,38,0
13,32,2,205019,7,4,11,1,2,1,0,0,50,38,0
15,34,2,245487,5,2,13,0,0,1,0,0,45,25,0
16,25,4,176756,11,4,4,3,4,1,0,0,35,38,0
17,32,2,186824,11,4,6,4,4,1,0,0,40,38,0
18,38,2,28887,1,2,11,0,4,1,0,0,50,38,0
19,43,4,292175,12,0,3,4,4,0,0,0,45,38,1
20,40,2,193524,10,2,9,0,4,1,0,0,60,38,1
21,54,2,302146,11,5,7,4,2,0,0,0,20,38,0
22,35,0,76845,6,2,4,0,2,1,0,0,40,38,0
23,43,2,117037,1,2,13,0,4,1,0,2042,40,38,0
24,59,2,109015,11,0,12,4,4,0,0,0,40,38,0
25,56,1,216851,9,2,12,0,4,1,0,0,40,38,1
26,19,2,168294,11,4,2,3,4,1,0,0,40,38,0
28,39,2,367260,11,0,3,1,4,1,0,0,80,38,0
29,49,2,193366,11,2,2,0,4,1,0,0,40,38,0
30,23,1,190709,7,4,10,1,4,1,0,0,52,38,0
31,20,2,266015,15,4,11,3,2,1,0,0,44,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48809,25,2,242136,11,0,6,1,2,1,0,0,40,38,0
48810,31,2,112115,11,4,6,1,4,1,0,0,40,38,0
48811,49,3,77132,11,2,3,0,4,1,0,0,40,1,1
48813,60,2,117909,8,2,9,0,4,1,7688,0,40,38,1
48814,39,2,229647,9,4,12,1,4,0,0,1669,40,38,0
48815,38,2,149347,12,2,9,0,4,1,0,0,50,38,1
48816,43,1,23157,12,2,3,0,4,1,0,1902,50,38,1
48817,23,2,93977,11,4,6,3,4,1,0,0,40,38,0
48818,73,3,159691,15,0,3,1,4,0,0,0,40,38,0
48819,35,2,176967,15,2,10,0,4,1,0,0,40,38,0
48820,66,2,344436,11,6,11,2,4,0,0,0,8,38,0
48821,27,2,430340,15,4,11,1,4,0,0,0,45,38,0
48822,40,2,202168,14,2,9,0,4,1,15024,0,55,38,1
48823,51,2,82720,11,2,2,0,4,1,0,0,40,38,0
48824,22,2,269623,15,4,2,3,4,1,0,0,40,38,0
48825,64,4,136405,11,6,4,1,4,1,0,0,32,38,0
48827,55,2,224655,11,5,8,1,4,0,0,0,32,38,0
48828,38,2,247547,8,4,0,4,2,0,0,0,40,38,0
48829,58,2,292710,7,0,9,1,4,1,0,0,36,38,0
48830,32,2,173449,11,2,5,0,4,1,0,0,40,38,0
48831,48,2,285570,11,2,0,0,4,1,0,0,40,38,0
48832,61,2,89686,11,2,11,0,4,1,0,0,48,38,0
48833,31,2,440129,11,2,2,0,4,1,0,0,40,38,0
48834,25,2,350977,11,4,7,3,4,0,0,0,40,38,0
48835,48,1,349230,12,0,7,1,4,1,0,0,40,38,0
48836,33,2,245211,9,4,9,3,4,1,0,0,40,38,0
48837,39,2,215419,9,0,9,1,4,0,0,0,36,38,0
48839,38,2,374983,9,2,9,0,4,1,0,0,50,38,0
48840,44,2,83891,9,0,0,3,1,1,5455,0,40,38,0
48841,35,3,182148,9,2,3,0,4,1,0,0,60,38,1

In [2]:
#splitting train and test data
def splitandnormalizedata(dataframe):
    x = dataframe.drop('label', axis=1)
    y = dataframe['label']
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=1)

    #normalizing dataset
    scaler = StandardScaler()
    x_train = pd.DataFrame(scaler.fit_transform(x_train),columns = x.columns)

    x_test = pd.DataFrame(scaler.transform(x_test))
    return x_train, x_test, y_train, y_test

In [3]:
def trainmodel(model,x_train,y_train,x_test):
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    return (round(accuracy_score(y_test,y_pred)*100,2))

In [4]:
x_train, x_test, y_train, y_test=splitandnormalizedata(dataframe)

In [5]:
#doing logistic regression
lr = LogisticRegression()
print(trainmodel(lr,x_train,y_train,x_test))

79.35

/Users/srijasaha/Users/srijasaha/opt/anaconda/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [6]:
#random forest classifier

rf = RandomForestClassifier()
print(trainmodel(rf,x_train,y_train,x_test))

/Users/srijasaha/Users/srijasaha/opt/anaconda/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

84.68

In [7]:
#naive bayes
nb = GaussianNB()
print(trainmodel(nb,x_train,y_train,x_test))

79.02

In [8]:
#SVM
svc = LinearSVC()
print(trainmodel(svc,x_train,y_train,x_test))

79.64

/Users/srijasaha/Users/srijasaha/opt/anaconda/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [9]:
#decision tree
dt = DecisionTreeClassifier()
print(trainmodel(dt,x_train,y_train,x_test))

80.92

In [10]:
#importance of feature in random forest
def calculateimportanceoffeatures(model):
    features=x_train.columns
    importance = np.round(model.feature_importances_,2)
    df = pd.DataFrame(list(zip(features, importance)), columns =['feature', 'importance score'])
    df.sort_values(by=['importance score'], ascending=False,inplace=True)
    return df

In [11]:
#importance of features in random forest
calculateimportanceoffeatures(rf)

           feature  importance score
2           fnlwgt              0.18
0              age              0.15
9     capital-gain              0.13
6     relationship              0.11
3        education              0.09
5       occupation              0.08
11  hours-per-week              0.08
4   marital-status              0.07
1        workclass              0.04
10    capital-loss              0.04
12  native-country              0.02
7             race              0.01
8              sex              0.01

In [12]:
#removing less imporant features 
colstoremove=[ 'sex','race','native-country','marital-status']
dataframe.drop(colstoremove, inplace=True, axis=1)

In [13]:
x_train, x_test, y_train, y_test=splitandnormalizedata(dataframe)
rf = RandomForestClassifier()
print(trainmodel(rf,x_train,y_train,x_test))

/Users/srijasaha/Users/srijasaha/opt/anaconda/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

85.26